{% extends "layout.html" %}
{% block content %}
<div class="landing-hero">
    {% include 'components/navbar.html' %}
    <div class="relative w-full">
        <div class="absolute inset-0 flex items-start pt-64 md:pt-52 sm:pt-38">
            <div class="max-w-[90%] mx-auto px-4 w-full">
                <div class="text-left text-white">
                    {% if user %}
                    <h1 class="text-5xl font-bold mb-6">Welcome back, {{ user.name }}</h1>
                    <div class="flex items-center gap-4">
                        <a href="{{ url_for('dashboard') }}"
                            class="flex items-center gap-3 px-4 py-3 text-white rounded-xl bg-blue-600 hover:bg-blue-500 transition-colors inline-flex">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                            <span>Dashboard</span>
                        </a>
                        <a href="{{ url_for('logout') }}"
                            class="flex items-center gap-3 px-4 py-3 text-white rounded-xl bg-red-400 hover:bg-red-500 transition-colors inline-flex">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                            <span>Logout</span>
                        </a>
                    </div>

                    {% else %}
                    <h1 class="text-5xl font-bold mb-4">Smart IoT Waste Fill Detection System</h1>
                    <p class="text-xl/6 mb-2">Revolutionize your waste management operations with our seamless,
                        connected sensor technology.</p>
                    <p class="text-xl/6 mb-8">Real-time data. Smarter routes. Zero overflow.</p>
                    <a href="{{ url_for('login') }}"
                        class="bg-white text-gray-900 px-6 py-3 rounded-xl font-semibold hover:bg-gray-100 transition-colors flex items-center gap-2 inline-flex">
                        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Logo"
                            class="w-6 h-6" />
                        Sign in with Google
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>Test</p>
</div>
{% endblock %}