{% extends "layout.html" %}
{% block content %}
<div class="landing-hero">
    {% include 'components/navbar.html' %}
    <div class="relative w-full">
        <div class="absolute inset-0 flex items-start pt-64 md:pt-52 sm:pt-38">
            <div class="max-w-[90%] mx-auto px-4 w-full">
                <div class="text-left text-white">
                    {% if user %}
                        <h1 class="text-5xl font-bold mb-4">Welcome back, {{ user.name }}</h1>
                        <a href="{{ url_for('logout') }}"
                            class="bg-red-400 text-white px-6 py-3 rounded-xl font-semibold hover:bg-red-500 transition-colors flex items-center inline-flex">
                            Logout
                        </a>
                    {% else %}  
                        <h1 class="text-5xl font-bold mb-4">Smart IoT Waste Fill Detection System</h1>
                        <p class="text-xl/6 mb-2">Revolutionize your waste management operations with our seamless,
                            connected sensor technology.</p>
                        <p class="text-xl/6 mb-8">Real-time data. Smarter routes. Zero overflow.</p>
                        <a href="{{ url_for('login') }}"
                            class="bg-white text-gray-900 px-6 py-3 rounded-xl font-semibold hover:bg-gray-100 transition-colors flex items-center gap-2 inline-flex">
                            <img
                                src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
                                alt="Google Logo"
                                class="w-6 h-6"
                            />
                            Sign in with Google
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>Test</p>
</div>
{% endblock %}